* {

    box-sizing: border-box;
  
    margin: 0;
  
    padding: 0;
  
    text-align: center;
  
    font-family: sans-serif;
  
  }
  html {
    --top-spacing: 100px;
    scroll-padding-top: var(--top-spacing);
  }
body{
    padding: 0%;
    margin: 0%;
}
div{
    font-weight: bold;
    font-size: 30px;
}
.header{
    margin-top: 0%;
    height: 80px;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 1%;
    text-decoration: none;
    margin-bottom: 2%;
    position: sticky;
    top: 0px;
    border-radius: 4px;
}
.header nav{
    padding: 0%;
    margin:0%;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    float: right;
    line-height: 70px;
}
nav ul li{
    display: inline-block;
    margin: 0%;
}
nav ul li a{
    padding: 7px 17px;
    border-radius: 3px;
    color: white;
    font-size: 25px;
    width: max-content;
}
nav ul li a:hover{
    color: black;
    background-color: white;

}
label.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.show-btn:hover,.hide-btn:hover {
  color: skyblue;
}
.show-btn,.hide-btn {
  font-size: 30px;
  color: white;
  line-height: 70px;
  display: none;
  transition: 0.4s;
}

.show-btn {
  float: right;
}

#check{
    position: absolute;
    visibility: hidden;
}
.banner{
    padding: 2%;
    height: 100vh;
    background-image: url("../Photos/practical8.jpg");
    margin-bottom: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
}
.banner div{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: left;
}
.section1{
    text-align: center;
    margin-bottom: 4%;
}
.circlecontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.circle{
    height: 220px;
    width: 220px;
    border-radius: 220px;
    border:rgb(85, 77, 77) solid 8px ;
}
.section2{
    text-align: center;
    margin: 0.5%;
    margin-bottom: 4%
}
.Mainarticle{
    display: inline-flex;
    margin: 0%;
    justify-content: space-evenly;
    width: 99%;
    margin-top: 1%;
}
.main{
    background-color: gray;
    height: 80vh;
    color: white;
    width: 50%;
    font-size: 22px;
    text-align: justify;
    color: white;
    margin: 0 3px 5px 3px;
  }
.main p{
    padding: 1%;
    font-size: 20px;
    text-align: justify;
}

.Articles{
    width: 50%;
    height: 70vh;
}
.article{
    color: white;
    line-height: 59px;
    margin-right: 0%;
    height: 26.5vh;
    margin-bottom: 2px;
}
.section3{
    text-align: center;
    margin: 0.5%;
    margin-bottom: 4%;
}

.container{
    display:inline-flex;
    width: 98%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    width: 21%;
    height: fit-content;
    margin: 0.5%;
    padding: 1%;
    border: rgb(248, 192, 192) solid 5px;
    align-items: center;
    text-align: justify;
    border-radius: 7px;
    box-shadow: rgb(170, 130, 130) 3px 3px 3px 3px;
}

p{
    font-size: large;
    font-weight: 400;
    
}
img{
    align-self: center;
    width: 99%;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
a > div{
    border-radius: 5px;
    padding: 1%;
    background-color: rgb(167, 5, 5);
    color: white;
    text-align: center;
    font-size: 25px;
}

a :hover{
    transform: translate(-5px,-10px);
    box-shadow: rgb(148, 72, 72) 4px 4px 4px 4px;
}
a :active{
    transform: translate3d(-5px, -5px, 5px);
    background-color: rgb(9, 70, 255);
    box-shadow: royalblue 2px 2px 2px 2px;
}
.section4{
    text-align: center;
    border: pink solid 2px;
    box-shadow: rgb(148, 72, 72) 2px 2px 4px 2px;
}
.footer{
    text-align: center;
    color: black;
    background-color: pink;
    padding: 1%;
    font-size: 30px;
    margin: 0%;
    justify-content: center;
    border-radius: 5px;
    
}
.footer a{
    text-decoration: underline;
    color: rgb(241, 46, 78);
}
@media (max-width : 655px){
    .circlecontainer{
        flex-direction: column;
    }
    .circle{
        height: 300px;
        width: 300px;
        margin:2%
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .container .item{
        width: 350px;
        height: auto;
        margin:1%;
        margin-bottom: 4%;
    }
    .main{
        height: 120vh;
        font-size: 15px;
    }
    .article{
        height: 39.8vh;
    }
}
@media (max-width: 800px ){
    html {
        --top-spacing: 320px;
        scroll-padding-top: var(--top-spacing);
      }
    .show-btn, .hide-btn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: fit-content;
        top:0;
        right: -120%;
        text-align: center;
        background-color: gray;
        transition: 0.1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-left: 100px
    }
    #check:checked ~ ul {
        right: -0%;
    
    }
    #chk:checked ~ .hide-btn{
        display: block;
      }

    nav ul li{
        display: block;
        margin: 15px 0px;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }    
    .hide-btn {
        position: absolute;    
        right: 20px;
        top: 10px;
    }
    .circlecontainer{
        flex-wrap: wrap;
    }
    .circle{
        height: 250px;
        width: 250px;
        margin:2%
    }
    .container .item{
        width: 250px;
        height: auto;
        margin:1%;
        margin-bottom: 4%;
    }
    .main{
        height: 120vh;
        font-size: 15px;
    }
    .article{
        height: 39.8vh;
    }
}
