body{
    padding: 0%;
    margin: 0%;
}
div{
    margin: 0.8%;
    font-weight: 900;
}
.header{
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 2%;
}
.banner{
    font-size: 20px;
    background-color: rgb(150, 230, 250);
    color: white;
    text-align: center;
    height: 200px;
    line-height: 180px;
}
.section1{

}

.section2{
    
}
.section3{
    
}
.section4{
    
}