body{
    margin: 0;
    background-color: rgb(168, 167, 167);
}
.heading{
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 2%;
}
.container{
display: inline-flex;
align-content: space-between;
width: 100%;
flex-wrap: wrap;
align-content: center;
}
.item{
    width: 21%;
    height: fit-content;
    margin: 1%;
    padding: 1%;
    background-color: white;
    align-items: center;
    text-align: justify;
    border-radius: 5px;
}

p{
    font-size: large;
    font-weight: 400;

}
img{
    align-self: center;
    width: 99%;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
a > div{
    border-radius: 5px;
    padding: 1%;
    background-color: rgb(167, 5, 5);
    color: white;
    text-align: center;
    font-size: 25px;
}

a :hover{
    transform: translate(-5px,-10px);
    box-shadow: rgb(148, 72, 72) 4px 4px 4px 4px;
}
a :active{
    transform: translate3d(-5px, -5px, 5px);
}